<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="/layout/head :: commonHead"></th:block>

<body>
<div class="Header">
    <th:block th:include="/layout/header :: commonHeader"></th:block>
</div>


<div class="container">

    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <span th:if="${#authentication.principal.user.id} == ${board.user.id}">
        <button id="btn-delete" class="btn btn-danger">삭제</button>
        <button id="btn-update" class="btn btn-warning">수정</button>
    </span>

    <br/><br/>

    <div>
        글 번호 : <span id="id"><i th:text="${board.id} "></i></span>
        작성자 : <span><i th:text="${board.user.username} "></i></span>
    </div>

    <br/>

    <div class="form-group">
        <h3 th:text="${board.title}"></h3>
    </div>
    <hr/>
    <div class="form-group">
        <div th:utext="${board.content}"></div>
    </div>
    <hr/>
</div>


<script src="/js/board.js"></script>

<div class="Footer">
    <th:block th:include="/layout/footer :: commonFooter"></th:block>
</div>
</body>
</html>


