<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="Header">
    <th:block th:include="/layout/header :: commonHeader"></th:block>
</div>



<div class="container">
    <h3>Main</h3>
    test
</div>



<div class="Footer">
    <th:block th:include="/layout/footer :: commonFooter"></th:block>
</div>
</body>
</html>


