<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/layout/head :: commonHead"></th:block>

<body>
<div class="Header">
    <th:block th:include="/layout/header :: commonHeader"></th:block>
</div>


<div class="container">

    <th:block th:each="board : ${boards.getContent()}">
        <div class="card m-2" th:id="${board.getId()}">
            <div class="card-body">
                <h4 class="card-title" th:text="${board.getTitle()}"></h4>
                <a th:href="@{/board/{boardId}(boardId=${board.getId()})}" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    </th:block>


    <ul class="pagination justify-content-center">
        <td th:if="${boards.first}">
            <li class="page-item disabled"><a class="page-link" th:href="@{?page={number}(number = ${boards.number - 1})}">Previous</a></li>
        </td>
        <td th:unless="${boards.first}">
            <li class="page-item"><a class="page-link" th:href="@{?page={number}(number = ${boards.number - 1})}">Previous</a></li>
        </td>

        <td th:if="${boards.last}">
            <li class="page-item disabled"><a class="page-link" th:href="@{?page={number}(number = ${boards.number + 1})}">Next</a></li>
        </td>
        <td th:unless="${boards.last}">
            <li class="page-item"><a class="page-link" th:href="@{?page={number}(number = ${boards.number + 1})}">Next</a></li>
        </td>


    </ul>

</div>


<div class="Footer">
    <th:block th:include="/layout/footer :: commonFooter"></th:block>
</div>
</body>
</html>


